<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('app_routing.index') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('app_routing.reserve') }}">Rezerwacja</a>
      </li>

      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('app_routing.logout') }}">Wyloguj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('app_routing.res_list') }}">Nowe zapytania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('app_routing.res_list_done') }}">Anulowane zapytania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('app_routing.res_list_conf') }}">Potwierdzone zapytania</a>
      </li>

      {% endif %}

    </ul>
    <br>


  {% block content %}

  {% endblock %}


  </body>
</html>
