{% extends "base.html" %}
{% block content %}


    <div class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="max-width: 24rem;">
              <span>{{ message }}</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}



      <h4>Lista nowych zapytań:</h4><br>

        {% for res in result %}
        <div class="card border-info mb-3" style="max-width: 24rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h6 class="card-title"> <strong>{{res.name}}</strong> --> ID: {{res.id}} </h6>
                  <ul class="card-text">
                    <li>Data: {{res.date}}</li>
                    <li>Godzina: {{res.time}}</li>
                  </ul>
              </div>
              <div class="col-md-4">
                <a class="btn btn-info" href="{{ url_for('app_routing.show', res_id=res.id) }}">Szczegóły</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

    </div>






{% endblock %}
