{% extends "base.html" %}
{% block content %}

<div class="container">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="max-width: 28rem;">
          <span>{{ message }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}



  <h4>Szczegóły zapytania:</h4><br>
  <div class="card border-info mb-3" style="max-width: 28rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h6 class="card-title"> <strong>{{res.name}}</strong> --> ID: {{res.id}} </h6>
            <ul>
              <li>E-mail: {{res.email}}</li>
              <li>Data: {{res.date}}</li>
              <li>Godzina: {{res.time}}</li>
              <li>Długość rejsu: {{res.duration}}</li>
              <li>Liczba osób: {{res.numbers}}</li>
              <li>Info: {{res.feedback}}</li>
            </ul>
        </div>
        <div class="col-md-4">
          <p> <strong>{{res.confirmation}}</strong> </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
