{% extends "base.html" %}
{% block content %}

    <div class="container">
      <h4>Lista potwierdzonych zapytań:</h4><br>

        {% for res in result %}
        <div class="card border-info mb-3" style="max-width: 24rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h6 class="card-title"> <strong>{{res.name}}</strong></h6>
                  <ul class="card-text">
                    <li>Data: {{res.date}}</li>
                    <li>CF info: <strong>{{res.confirmation}}</strong></li>
                  </ul>
              </div>
              <div class="col-md-4">
                <a class="btn btn-info" href="{{ url_for('show_conf', res_id=res.id) }}">Szczegóły</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <a class="btn btn-info" href="{{ url_for('passed') }}">Pokaż wcześniejsze</a>

        {% for o in old %}
        <div class="card border-info mb-3" style="max-width: 24rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h6 class="card-title"> <strong>{{o.name}}</strong></h6>
                  <ul class="card-text">
                    <li>Data: {{o.date}}</li>
                    <li>CF info: <strong>{{o.confirmation}}</strong></li>
                  </ul>
              </div>
              <div class="col-md-4">
                <a class="btn btn-info" href="{{ url_for('show_conf', res_id=o.id) }}">Szczegóły</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


    </div>



{% endblock %}
