{% extends "base.html" %}
{% block content %}

    <div class="container">
      <div align='center'>
        <h2>Witaj {{new_res.name}}!</h2>
        <h4>Dziękujemy za zainteresowanie rezerwacją Nadwiślanina</h4>
        <h4>w dniu <strong>{{new_res.date}}</strong> o godzinie <strong>{{new_res.time}}</strong>.</h4>
        <h6>Sprawdzimy możliwość zorganizowania rejsu i prześlemy szczegóły
          na podany adres email: <em>{{new_res.email}}</em>.</h6>
        <br>
        <img src="{{ url_for('static', filename='logo_bw.jpg') }}" width="390.5" height="397" >

      </div>
    </div>



{% endblock %}
